@import '/src/variables';

.ProductListItem {
  display: flex;
  margin: 0 auto;
}

.ItemProperties {
  width: 60%;

  h2 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1.125rem;
  }

  a {
    color: $font-color;
    text-decoration: none;
  }
}

.ItemImage {
  text-align: center;

  img {
    height: 180px;
    width: 180px;
  }
}

.ItemPrice {
  align-items: center;
  display: flex;

  h3 {
    font-size: 1.75rem;
    margin: 0;
  }

  img {
    margin: 0 0.5rem;
  }
}

.ItemLocation {
  font-size: 0.75rem;
}
