@import '/src/variables.scss';

.ItemImage {
  overflow-y: scroll;
  width: 680px;
}

.ItemProps {
  p {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.ItemPrice {
  display: flex;
  align-items: center;
  h3 {
    margin: 0;
    font-size: 1.75rem;
  }
  img {
    margin: 0 0.5rem;
  }
}

.ItemDesc {
  h2 {
    font-size: 1.75rem;
  }
}

.ItemAttributes {
  h2 {
    font-size: 1.75rem;
  }
  div {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
  }
}
.ProductDetailContainer {
  background-color: $container-background-color;
}
