@import '/src/variables';

.ItemImage {
  overflow-y: scroll;
  width: 680px;
}

.ItemProps {
  p {
    font-size: 0.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.ItemPrice {
  align-items: center;
  display: flex;

  h3 {
    font-size: 1.75rem;
    margin: 0;
  }

  img {
    margin: 0 0.5rem;
  }
}

.ItemDesc {
  h2 {
    font-size: 1.75rem;
  }
}

.ItemAttributes {
  h2 {
    font-size: 1.75rem;
  }

  div {
    height: 250px;
    overflow-y: scroll;
    width: 100%;
  }
}

.ProductDetailContainer {
  background-color: $container-background-color;
}
