@import "/src/variables.scss";

.SearchProducts {
  display: block;
  background-color: $search-bar-color;
  padding: 0.5rem 0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  width: 100%;
}
