@import "/src/variables.scss";

.SearchProducts {
  display: block;
  background-color: $search-bar-color;
  padding: 0.5rem 0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  width: 100%;

  .search-product-container {
    width: $content-container-width;
    margin: 0 auto;
    display: flex; 
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .img-logo {
    align-self: flex-start;
    margin: auto 0;
    width: 3.75rem;
  }

  .search-autocomplete {
    align-self: flex-end;
    margin: 0 0 0 2rem;
    flex-grow: 2;

    .search-button {
      background-color: $search-btn-background-color;
      color: $font-color;
      border: 1px $search-btn-background-color solid;
    }

    .p-autocomplete .p-inputtext {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .search-autocomplete .search-button {
    &:enabled:hover {
      background-color: $primary-btn-background-color;
    }

    &:enabled:hover .p-button-icon {
      color: $search-btn-background-color;
    }
  }
}
