@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Global Styles
body {
  font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #ebebeb;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
}

.loading-icon {
  display: block;
  text-align: center;

  .pi {
    font-size: 3rem;
    margin: 2rem auto;
  }
}

// Custom Scroll bar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
