/**
 *  Content app wide variables
 */

$page-background-color: #ebebeb;
$content-background-color: #ffff;
$font-color: #333;
$content-font-color: #666;
$search-bar-color: #fff159;
$search-btn-background-color: #ececec;
$primary-btn-background-color: #3483fa;
$gallery-controls-color: #aaaa;

$content-container-width: 80%;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
