@import '/src/variables.scss';

.BreadcrumbsList {
  ul,
  ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
  }
  ul {
    display: flex;
    flex-flow: row;
  }

  li {
    display: flex;
    align-items: center;
  }

  a,
  i {
    color: $content-font-color;
    text-decoration: none;
  }
}
