@import '/src/variables';

.BreadcrumbsList {
  ul,
  ul li {
    list-style-type: 0;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }

  ul {
    display: flex;
    flex-flow: row;
  }

  li {
    align-items: center;
    display: flex;
  }

  a,
  i {
    color: $content-font-color;
    font-size: 0.875rem;
    text-decoration: none;
  }
}
